@font-face {
    font-family: "Gilroy";
    src: url("fonts/gilroyextrabold.woff2") format("woff2"),
        url("fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("fonts/gilroylight.woff2") format("woff2"),
        url("fonts/gilroylight.woff") format("woff");

}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans.woff2") format("woff2"),
        url("fonts/opensans.woff") format("woff");

}

@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/opensanslight.woff2") format("woff2"),
        url("fonts/opensanslight.woff") format("woff");

}

body {
    margin: 0 auto;
    padding: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.user-menu,
.site-menu,
.catalog-menu,
.slide,
.slide-switcher-list,
.popular-list,
.services-switcher,
.services-list,
.product-logos-list,
.site-menu-first-list,
.site-menu-second-list {
    list-style: none;
}

/* Навигации */

.logo {
    font-size: 48px;
    line-height: 48px;
    margin-top: -24px;
    letter-spacing: 0.01em;
}

.main-menu {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(247, 226, 150, 1);

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 60px;
}

.main-menu-top {
    margin-bottom: 20px;
}

.main-menu-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.main-menu-bottom {
    margin-bottom: 160px;
}

.user-menu {
    width: 500px;
    margin: 0;
    display: flex;
}

.user-menu-item {
    width: 100px;
    display: inline-block;
    padding-left: 25px;
    margin-right: 20px;
    text-align: end;
    letter-spacing: 0.01em;
}

.user-menu-item:last-child {
    margin-right: 0;
}

.user-menu-item:first-child {
    margin-right: auto;
    text-align: start;
}

.site-menu {
    width: 1040px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.site-menu-item,
.site-menu-second-item {
    letter-spacing: 0.2em;
}

.site-menu-first-list {
    margin: 0;
    padding: 0;
}

.site-menu-second-list {
    width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.site-menu-second-item {
    padding-right: 40px;
    text-align: end;
}

.site-menu-second-item:first-child {
    text-align: start;
}

.site-menu-second-item:last-child {
    padding-right: 0;
    margin-left: auto;
    margin-right: -0.2em;
}

.main-menu a,
.container a {
    color: rgba(0, 0, 0, 1);
}

.user-menu,
.search {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.catalog-menu {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

.user-menu a:hover,
.site-menu a:hover {
    color: rgba(0, 0, 0, .6);
}

.user-menu a:focus,
.site-menu a:focus {
    color: rgba(0, 0, 0, .3);
}

/* Слайдера */

.slide-title {
    font-size: 47px;
    line-height: 56px;
}

.slide-description {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.slide-number {
    font-size: 179.2px;
    line-height: 179.2px;
}

.slide-info {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 197, 46, 1);
}

.slide-info:focus {
    color: rgba(0, 0, 0, .3);
}

.features-info {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.features-item {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

/* Популярное */

.popular-block {
    background-color: rgba(247, 226, 150, 1);
}

.popular-item {
    font-size: 18px;
    line-height: 24px;
}

/*  Сервисы */

.service-title {
    font-size: 47px;
    line-height: 48px;
}

.services-description {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.services-button {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 194, 46, 1);
}

.services-button:focus {
    color: rgba(247, 225, 132, 1);
    background-color: rgba(0, 0, 0, 1);
}

/* О нас */

.info-title {
    font-size: 47px;
    line-height: 48px;
}

.info-description {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.info-list {
    font-size: 18px;
    line-height: 24px;
}

.about-button {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 197, 46, 1);
}

.about-button:focus {
    color: rgba(0, 0, 0, .3);
}

/* Контакты */

.contacts-title {
    font-size: 47px;
    line-height: 48px;
}

.contacts-description {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.write-us-button {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 197, 46, 1);
}

.write-us-button:focus {
    color: rgba(0, 0, 0, .3);
}

/* Футер */

.main-footer {
    background-color: rgba(70, 70, 70, 1);
    color: rgba(255, 255, 255, 1);
}

.footer-logo {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: inherit;
    color: rgba(218, 172, 14, 1);
}

.footer-logo a:hover {
    color: rgba(218, 172, 14, .6);
}

.footer-logo a:focus {
    color: rgba(218, 172, 14, .3);
}

.footer-address {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.footer-user-menu {
    list-style: none;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

.footer-user-menu-item a {
    color: rgba(255, 255, 255, .7);
}

.footer-user-menu-item a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-user-menu-item a:focus {
    color: rgba(255, 255, 255, .3);
}

.footer-site-menu {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
}

.footer-site-menu-item a {
    color: rgba(255, 255, 255, 1);
}

.footer-site-menu-item a:hover {
    color: rgba(255, 255, 255, .6);
}

.footer-site-menu-item a:focus {
    color: rgba(255, 255, 255, .3);
}

.social-buttons-item {
    list-style: none;
}

.social-buttons-item a {
    color: rgba(255, 255, 255, .3);
}

/* Фома обратной связи */

.write-us label {
    font-size: 18px;
    line-height: 24px;
}

.button-send {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 197, 46, 1);
}

.button-send:focus {
    color: rgba(0, 0, 0, .3);
}

.write-us input,
.write-us textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(242, 242, 242, 1);
}

.write-us input:hover,
.write-us textarea:hover {
    background-color: rgba(234, 234, 234, 1);
}

.write-us input:focus,
.write-us textarea:focus {
    color: rgba(70, 70, 70, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid  rgba(247, 226, 150, .5);
}

.write-us input:invalid,
.write-us textarea:invalid {
    background-color: rgba(246, 218, 218, .5);
}

/* Каталог */

/* Фильтр */

.page-title {
    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    list-style: none;

}

.breadcrumbs-item a,
.breadcrumbs-current {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, .3);
}

.breadcrumbs-item a:hover {
    color: rgba(0, 0, 0, .6);
}

.breadcrumbs-item a:focus {
    color: rgba(0, 0, 0, .1);
}

.filter fieldset {
    border: none;
}

.filter {
    background-color: rgba(239, 239, 239, 1)
}

.filter-title,
.sort-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.filter-form legend {
    font-size: 18px;
    line-height: 24px;
}

.filter-option,
.filter-option-radio,
.sort-ranging {
    list-style: none;
    line-height: 18px;
}

.filter-checkbox label,
.filter-radio label {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
}

.filter-button {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 197, 46, 1);
}

.filter-button:focus {
    color: rgba(0, 0, 0, .3);
}

/* Сортировка */

.sort {
    background-color: rgba(235, 235, 235, 1);
}

.sort-list {
    list-style: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.sort-list-type a {
    color: rgba(0, 0, 0, .3);
}

.sort-list-type a:hover {
    color: rgba(0, 0, 0, .6);
}

.sort-list-type.current a {
    color: rgba(0, 0, 0, 1);
}

.sort-ranging-arrow.current a {
    color: rgba(0, 0, 0, 1);
}

.sort-ranging-arrow a {
    color: rgba(0, 0, 0, .2);
}

.sort-ranging-arrow a:hover {
    color: rgba(0, 0, 0, .2);
}

/* Каталог товаров */

.catalog-list {
    list-style: none;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 24px;
}

.catalog-item-price {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.button-basket {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba(240, 197, 46, 1);
}

.button-basket:focus {
    color: rgba(0, 0, 0, .3);
}

.button-compare {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    color: rgba(164, 164, 164, .5);
}

.button-compare:hover {
    color: rgba(164, 164, 164, 1);
}

.button-compare:focus {
    color: rgba(164, 164, 164, .2);
}

/* Кнопки пагинации */

.pagination-list {
    list-style: none;
    background-color: rgba(164, 164, 164, .08);
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.pagination-item-back a:hover,
.pagination-item-forward a:hover {
    background-color: rgba(217, 217, 217, 1);
}

.pagination-item-back a:focus,
.pagination-item-forward a:focus {
    color: rgba(0, 0, 0, .3);
}

.pagination-item.current a{
    color: rgba(0, 0, 0, 1);
}

.pagination-item a{
    color: rgba(0, 0, 0, .3);
}

.pagination-item a:hover{
    color: rgba(0, 0, 0, .6);
}

.pagination-item a:focus{
    color: rgba(0, 0, 0, 1);
}
